#header {
  align-items: center;
  background-color: #333;
  color: #000;
  z-index: 2;
  text-shadow:none;
}

#header ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

#header ul li {
  margin-right: 20px;
  background-color: #D9D9D9;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#header ul li:hover {
  background-color: #c0c0c0;  /* ホバー時の色変化 */
}

#header ul li a {
  color: #000;
  text-decoration: none;
}

#header button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
