

#astfield {
  display: flex;
  justify-content: space-between;
}

#astfield textarea{
  resize: none;
  width: 45vw;
  height: 550px;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

#arrow {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 4px;
  margin-top: 330px;
  border-radius: 9999px;
  background-color: #000000;
}

#arrow::before,
#arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 45px;
  height: 4px;
  border-radius: 9999px;
  background-color: #000000;
  transform-origin: calc(100% - 2px) 50%;
}

#arrow::before {
  transform: rotate(45deg);
}

#arrow::after {
  transform: rotate(-45deg);
}